body {
  margin: 0 0 auto;
}

a {
  padding: 10px 50px;
  text-decoration: none;
  color: white;
}

button {
  width: 150px;
  height: 100px;
  border-radius: 200px;
  background-color: lightgreen;
  font-size: 25px;
}

button:hover {
  background-color: turquoise;
}

.logo {
  width: 30%;
  padding: 10px 50px;
}

.navbar {
  position: relative;
  font-size: 20px;
  background-color: black;
}
